.cv1 {
	background-size: cover;
	background-color: var(--bs-body-bg);
    padding-top: px;
}
.cvbg {
	color: rgb(255, 255, 255);
	background: linear-gradient(rgb(14, 8, 70) 20%, rgb(51, 5, 110) 50%, rgb(45, 2, 65) 90%);
}
.imcv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    transform: translateY(-100px);
}
.im {
    width: 200px;
}
.about {
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
.exp {
	transform: translateY(50px);
}
.bioo h6{
	padding-top: 10px;
	color: orange;
}
.bioo p{
	transform: translateY(-8px);
}
